<div class="map"></div>
{{#unless disableAutocomplete}}
  <div class={{inputClass}}>
    <label>{{labelText}}</label>
    {{input type="text" value=model.address class="google-map-autocomplete"}}
  </div>
{{/unless}}
{{yield}}